name: SonarQube Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for better analysis
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'  # Cache Maven dependencies
      - name: Make Maven Wrapper Executable
        run: chmod +x ./mvnw
      - name: Build and Package
        run: ./mvnw clean verify -DskipTests
      - name: Run SonarQube analysis
        run: |
          ./mvnw sonar:sonar \
            -Dsonar.projectKey=Test-Project-Bala \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
